html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background-color: #ebebeb;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: black;
    /* background: black; */
  }
}
/* Change border color and text color for MuiSelect component */
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-ta2i3p-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-color: #397568 !important;
  color: black;
}

/* Change border color for fieldset and input */
.MuiOutlinedInput-root fieldset,
.MuiOutlinedInput-root input {
  border-color: #397568 !important;
}

/* Change placeholder color */
.MuiOutlinedInput-root input::placeholder {
  color: #397568 !important;
}

/* Change label color for outlined inputs */
.MuiInputLabel-outlined {
  color: #397568 !important;
}

